mat-grid-tile {
  background: #646264;
  background-repeat: no-repeat;
  background-size: 100%;
}

.register {
  text-align: center;
}

#regForm {
  display: block;
}

.btn {
  display: block;
  width: 100%;
  background-color: #DFA000;
  color: #3D3B3D;
  font-weight: bold;
}

.input-group {
  padding-right: 0px;
}
