.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #ffbb00;
}
.modal-header {
  background-color: #646264;
  color: #DFA000;
}
.modal-body {
  background-color: #F2EBE4;
}
.btn {
  display: block;
  width: 100%;
  background-color: #DFA000;
  color: #3D3B3D;
  font-weight: bold;
}
// a {
//   color: #dfa000;
//   font-weight: bold;
// }
.btn:hover {
  color: #F9d31a;
  font-weight: bold;
}
