.modal-header {
  background-color: #646264;
  color: #DFA000;
}

.modal-body {
  background-color: #F2EBE4;
  color: #646264;
}

.btn {
  display: block;
  width: 100%;
  background-color: #DFA000;
  color: #3D3B3D;
  font-weight: bold;
}


