.confirmation-page {
  background: #646264;
}
.confirm {
  color: #dfa000;
}
.card, .card-body {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.img-thumbnail {
  height: 300px;
  width: 300px;
}
.card-header, .card-footer {
  width: 100%;
}
h3 {
  align-items: center;
  justify-content: center;
}



