.navbar {
  background-color: #3D3B3D;
  margin: 0px;
  padding: 0px;
}

a {
  color: #dfa000;
  font-weight: bold;
}
a:hover {
  color: #F9d31a;
  font-weight: bold;
}

span {
  color: #dfa000;
}

.btn {
  display: block;
  width: 100%;
  background-color: #DFA000;
  color: #3D3B3D;
  font-weight: bold;
}

.modal-header {
  background-color: #646264;
  color: #DFA000;
}

.modal-body {
  background-color: #F2EBE4;
}
.navbar-brand {
  color: #F2EBE4;
  float: left;
}


